.App {
  font-family: "Oxygen", sans-serif;
  background: url("./pexels-lukas-349610.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.frm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tbox {
  border: 1px solid rgb(70, 70, 70);
  border-radius: 3%;
  padding: 0.5rem;
  background: transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 20px;
  min-width: 100px;
  font-size: 1.5rem;
}

.sbmtbtn {
  border: 1px solid rgb(70, 70, 70);
  border-radius: 3%;
  padding: 0.5rem;
  background: transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 20px;
  min-width: 100px;
  font-size: 1.5rem;
}
.sbmtbtn:hover {
  background: black;
  color: white;
  cursor: pointer;
}

ul {
  display: flex;
  flex-flow: column;
  list-style-position: outside;
  width: fit-content;
  margin: 0.5rem;
}
li {
  width: fit-content;
  margin: 0.5rem;
}

.list {
  padding: 0.5rem;
  border: 0.5px solid transparent;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 2%;
  width: fit-content;
  min-height: 100px;
  margin: 0.5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 300;
  height: 300;
  border: 1px solid transparent;
  border-radius: 5%;
  margin: 0.5rem;
}

.bigL {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
